<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>


    table{
      justify-content: center;
      border-collapse: collapse;
      width: 250px; /* Total width of the table, adjust as needed */
      margin-right: auto;
      margin-left: auto;
      margin-top:50px;
    }

    th, td {
      border: 1px solid black;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center;
    }
    .image img {
        width: 10px; 
        height: 10px;   
        align-items: left;
    }
  </style>
</head>
<body>

<div class="container">
    <h3 style="margin-left: 20px; text-align: center; margin-top: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Raymond</h3>
    <div style="display: flex; justify-content: space-between; font-family: Georgia, 'Times New Roman', Times, serif;">
        <h3 style="margin-left: 20px;  flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Retail</h3>
        <h4 style="margin-left: 20px; text-align: right; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Date:<%=formattedDate%> Time:<%= formattedTime %></h4>
      </div>
      <div style="margin-left: 20px; text-align: left; flex: 1;width:10px;height: 10px; font-family: Georgia, 'Times New Roman', Times, serif; " class="logo">
        <img style="margin-left: 20px; text-align: center;margin-top: 20px; margin-left: 2px; flex: 1;width:100%;height: 100%;padding-bottom: 100px;" src="https://kohinoorsethi.s3.ap-south-1.amazonaws.com/imgpsh_fullsize_anim.png">
      </div>
      <h3 style="margin-left: 20px; text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">KOHINOOR SELECTIONS</h3>
      <h4 style="margin-left: 20px; text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">SCO-39-40, SECTOR-17C</h4>
      <h4 style="margin-left: 20px; text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">CHD(UT)India</h4>
      <h4 style="margin-left: 20px; text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;" >Phone Number: 0172-2714545</h4>
      <div style="display: flex; justify-content: space-between;">
      <h4 style="margin-left: 20px; text-align: left; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Invoice: <%= id %></h4>
      </div>
      <h4 style="margin-left: 20px; text-align: left; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Name:<%= name %></h4>
      <h4 style="margin-left: 20px; text-align: left; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Near SEN.SEC. SCHOOL RING ROAD RAJPURA RNAI(PKL)</h4>
</div>
<table border="1">
    <thead>
      <tr>
        <th>HSN</th>
        <th>Item Name/Product Name</th>
        <th>Qt.</th>
        <th>Size</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% 
        let totalAmount = 0; 
        for (let i = 0; i < hsnCode.length; i++) { 
          const quantityValue = parseInt(quantity[i]) || 0;
          const ratePerLengthValue = parseInt(ratePerLength[i]) || 0;
          const amountValue = quantityValue * ratePerLengthValue;
          totalAmount += amountValue;
      %>
        <tr>
          <td><%= hsnCode[i] %></td>
          <td><%= productName[i] %></td>
          <td><%= quantity[i] %></td>
          <td><%= meter[i] %></td>
          <td><%= ratePerLength[i] %></td>
          <td><%= amountValue %></td>
        </tr>
      <% } %> 
  
      <!-- Display total row after the loop -->
      <tr>
        <td colspan="5" style="text-align: right; flex: 1 ;font-family: Georgia, 'Times New Roman', Times, serif;">Total</td>
        <td><%= totalAmount %></td>
      </tr>
      <tr>
        <td colspan="5" style="text-align: right; flex: 1;font-family: Georgia, 'Times New Roman', Times, serif;">CGST</td>
        <td><%= ((totalAmount * 0.05)/2).toFixed(3)%></td>
      </tr>
      <tr>
        <td colspan="5" style="text-align: right; flex: 1;font-family: Georgia, 'Times New Roman', Times, serif;">SGST</td>
        <td><%= ((totalAmount * 0.05)/2).toFixed(3)%></td>
      </tr>
    </tbody>
  </table>
  <h2 style="text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Bill Amount <%= totalAmount + ((totalAmount * 0.05) / 2) * 2 %></h2>
<h5 style="text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">CGST <%= ((totalAmount * 0.05)/2).toFixed(3) %></h5>
<h5 style="text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">SGST <%= ((totalAmount * 0.05)/2).toFixed(3) %></h5>
<h6 style="text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Including of GST Tax</h6>
<h6 style="text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Thanks For Visit</h6>
<h6 style="text-align: center; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Please Kindly Visit Again</h6>
<h6 style="text-align: center; margin-left: 750px; flex: 1; font-family: Georgia, 'Times New Roman', Times, serif;">Signature</h6>
</div>
</body>
</html>


</body>
</html>